<div id="nav">
	<ul>
		<li class="index"><%= link_to 'Home', 'index.html' %></li> 
		<li class="original_artwork"><%= link_to 'Gallery', 'original_artwork.html' %></li>
		<li class="shop"><%= link_to 'Shop', 'shop.html' %></li>
		<li class="contact"><%= link_to 'Contact', 'contact.html' %></li> 
		<li class="blog"><%= link_to 'Blog', 'http://www.valentinaramos.blogspot.com'%></li>
	</ul>
</div><!-- <<< nav -->
