---
title: Original Artwork
---

<div id="content">

   <%= partial "gallery_nav" %>

    	<!-- >>>> INSERT GALLERY HERE -->

        <% gallery ="img/lightbox/digital_prints/" %>
        <% oa_title ="digital_prints" %>
        <% oa_path ="img/lightbox/gallery/prints/" %>

	    <div id='gallery'>

            <a href="<%=oa_path%>ampersand.jpg" rel="lightbox[<%=oa_title%>]" 
                            title="Ampersand">
           <img src="<%=oa_path%>ampersand_sm.jpg">
            </a>

            <a href="<%=oa_path%>barkysimeto.jpg" rel="lightbox[<%=oa_title%>]" 
                            title="Barkysimeto">
           <img src="<%=oa_path%>barkysimeto_sm.jpg">
            </a>

            <a href="<%=oa_path%>emaline.jpg" rel="lightbox[<%=oa_title%>]" 
                            title="Emaline">
           <img src="<%=oa_path%>emaline_sm.jpg">
            </a>

            <a href="<%=oa_path%>frisky_christy.jpg" rel="lightbox[<%=oa_title%>]" 
                            title="Frisky Christy">
           <img src="<%=oa_path%>frisky_christy_sm.jpg">
            </a>

            <a href="<%=oa_path%>hello_person.jpg" rel="lightbox[<%=oa_title%>]" 
                            title="Hello Person">
           <img src="<%=oa_path%>hello_person_sm.jpg">
            </a>

            <a href="<%=oa_path%>hippotastique.jpg" rel="lightbox[<%=oa_title%>]" 
                            title="Hippotastique">
           <img src="<%=oa_path%>hippotastique_sm.jpg">
            </a>

            <a href="<%=oa_path%>humming_heaven.jpg" rel="lightbox[<%=oa_title%>]" 
                            title="Humming Heaven">
           <img src="<%=oa_path%>humming_heaven_sm.jpg">
            </a>

            <a href="<%=oa_path%>little_fish.jpg" rel="lightbox[<%=oa_title%>]" 
                            title="Little Fish">
           <img src="<%=oa_path%>little_fish_sm.jpg">
            </a>

            <a href="<%=oa_path%>lovebirds.jpg" rel="lightbox[<%=oa_title%>]" 
                            title="Lovebirds">
           <img src="<%=oa_path%>lovebirds_sm.jpg">
            </a>

            <a href="<%=oa_path%>milo.jpg" rel="lightbox[<%=oa_title%>]" 
                            title="Milo">
           <img src="<%=oa_path%>milo_sm.jpg">
            </a>

            <a href="<%=oa_path%>phileus_frog.jpg" rel="lightbox[<%=oa_title%>]" 
                            title="Phileus Frog">
           <img src="<%=oa_path%>phileus_frog_sm.jpg">
            </a>

            <a href="<%=oa_path%>ruby.jpg" rel="lightbox[<%=oa_title%>]" 
                            title="Ruby">
           <img src="<%=oa_path%>ruby_sm.jpg">
            </a>

            <a href="<%=oa_path%>shower_of_joy.jpg" rel="lightbox[<%=oa_title%>]" 
                            title="Shower Of Joy">
           <img src="<%=oa_path%>shower_of_joy_sm.jpg">
            </a>

            <a href="<%=oa_path%>sugar_skull.jpg" rel="lightbox[<%=oa_title%>]" 
                            title="Sugar Skull">
           <img src="<%=oa_path%>sugar_skull_sm.jpg">
            </a>

            <a href="<%=oa_path%>aaron.jpg" rel="lightbox[<%=oa_title%>]" 
                          title="Aaron">
           <img src="<%=oa_path%>aaron_sm.jpg">
            </a>
           
            <a href="<%=oa_path%>alcahofa.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Alcahofa">
                <img src="<%=oa_path%>alcahofa_sm.jpg">
            </a>

            <a href="<%=oa_path%>alexis.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Alexis">
            <img src="<%=oa_path%>alexis_sm.jpg">
            </a>
            
            <a href="<%=oa_path%>always_be_yourself.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Always Be Yourself">
            <img src="<%=oa_path%>always_be_yourself_sm.jpg">
            </a>
          
             <a href="<%=oa_path%>arabella_and_the_flowers.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Arabella and the Flowers">
            <img src="<%=oa_path%>arabella_and_the_flowers_sm.jpg">
            </a>
            
             <a href="<%=oa_path%>beatriz.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Beatriz">
            <img src="<%=oa_path%>beatriz_sm.jpg">
            </a>
            
             <a href="<%=oa_path%>dear_deer.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Dear Deer">
            <img src="<%=oa_path%>dear_deer_sm.jpg">
            </a>
            
             <a href="<%=oa_path%>deep_blue_me.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Deep Blue Me">
            <img src="<%=oa_path%>deep_blue_me_sm.jpg">
            </a>
            
             <a href="<%=oa_path%>deep_violet.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Deep Violet">
            <img src="<%=oa_path%>deep_violet_sm.jpg">
            </a>
            
             <a href="<%=oa_path%>emilia.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Emilia">
            <img src="<%=oa_path%>emilia_sm.jpg">
            </a>
            
             <a href="<%=oa_path%>escargopolooza.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Escargopolooza">
            <img src="<%=oa_path%>escargopolooza_sm.jpg">
            </a>
            
             <a href="<%=oa_path%>eva.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Eva">
            <img src="<%=oa_path%>eva_sm.jpg">
            </a>
            
             <a href="<%=oa_path%>everything_always_starts_with_a_dream.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Everything Always Starts with a Dream">
            <img src="<%=oa_path%>everything_always_starts_with_a_dream_sm.jpg">
            </a>
            
             <a href="<%=oa_path%>feather_heaven.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Feather Heaven">
            <img src="<%=oa_path%>feather_heaven_sm.jpg">
            </a>
            
             <a href="<%=oa_path%>follow_your_dreams.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Follow Your Dreams">
            <img src="<%=oa_path%>follow_your_dreams_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>ganesha.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Ganesha">
            <img src="<%=oa_path%>ganesha_sm.jpg">
            </a>
            
             <a href="<%=oa_path%>giraffe.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Giraffe">
            <img src="<%=oa_path%>giraffe_sm.jpg">
            </a>
            
             <a href="<%=oa_path%>have_some_coffee.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Have Some Coffee">
            <img src="<%=oa_path%>have_some_coffee_sm.jpg">
            </a>
            
             <a href="<%=oa_path%>helios.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Helios">
            <img src="<%=oa_path%>helios_sm.jpg">
            </a>
            
             <a href="<%=oa_path%>hello_bird.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Hello Bird">
            <img src="<%=oa_path%>hello_bird_sm.jpg">
            </a>
            
             <a href="<%=oa_path%>honcho.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Honcho">
            <img src="<%=oa_path%>honcho_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>i_was_a_dinosaur.jpg" rel="lightbox[<%=oa_title%>]"
                           title="I Was A Dinosaur">
            <img src="<%=oa_path%>i_was_a_dinosaur_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>its_all_in_your_head.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Its all in your head">
            <img src="<%=oa_path%>its_all_in_your_head_sm.jpg">
            </a>
            
             <a href="<%=oa_path%>lets_cook.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Lets Cook">
            <img src="<%=oa_path%>lets_cook_sm.jpg">
            </a>
            
             <a href="<%=oa_path%>love_owls_in_the_tree.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Love Owls in the Tree">
            <img src="<%=oa_path%>love_owls_in_the_tree_sm.jpg">
            </a>
            
             <a href="<%=oa_path%>masamiosa.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Masamiosa">
            <img src="<%=oa_path%>masamiosa_sm.jpg">
            </a>
            
             <a href="<%=oa_path%>mr_pavo_real.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Mr Pavo Real">
            <img src="<%=oa_path%>mr_pavo_real_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>octopus_bloom.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Octopus Bloom">
            <img src="<%=oa_path%>octopus_bloom_sm.jpg">
            </a>
            
             <a href="<%=oa_path%>out_of_sight.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Out of Sight">
            <img src="<%=oa_path%>out_of_sight_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>paisley_piggy.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Paisley Piggy">
            <img src="<%=oa_path%>paisley_piggy_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>peter.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Peter">
            <img src="<%=oa_path%>peter_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>random_talking.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Random Talking">
            <img src="<%=oa_path%>random_talking_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>rosebud.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Rosebud">
            <img src="<%=oa_path%>rosebud_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>royal_flamingo.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Royal Flamingo">
            <img src="<%=oa_path%>royal_flamingo_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>shiny_shannon.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Shiny Shannon">
            <img src="<%=oa_path%>shiny_shannon_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>sitting_buddha.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Sitting Buddha">
            <img src="<%=oa_path%>sitting_buddha_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>sushi.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Sushi">
            <img src="<%=oa_path%>sushi_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>take_some_pictures.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Take Some Pictures">
            <img src="<%=oa_path%>take_some_pictures_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>the_elephant.jpg" rel="lightbox[<%=oa_title%>]"
                           title="The Elephant">
            <img src="<%=oa_path%>the_elephant_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>tiberio.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Tiberio">
            <img src="<%=oa_path%>tiberio_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>unicornicopia.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Unicornicopia">
            <img src="<%=oa_path%>unicornicopia_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>vera.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Vera">
            <img src="<%=oa_path%>vera_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>victor.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Victor">
            <img src="<%=oa_path%>victor_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>vw.jpg" rel="lightbox[<%=oa_title%>]"
                           title="VW">
            <img src="<%=oa_path%>vw_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>walking_in_paradise.jpg" rel="lightbox[<%=oa_title%>]"
                           title="Walking in Paradise">
            <img src="<%=oa_path%>walking_in_paradise_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>you_and_me.jpg" rel="lightbox[<%=oa_title%>]"
                           title="You and Me">
            <img src="<%=oa_path%>you_and_me_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>you_are_awesome.jpg" rel="lightbox[<%=oa_title%>]"
                           title="You are Awesome">
            <img src="<%=oa_path%>you_are_awesome_sm.jpg">
            </a>
             
             <a href="<%=oa_path%>you_are_right_where_you_should_be.jpg" rel="lightbox[<%=oa_title%>]"
                           title="You Are Right Where You Should Be">
            <img src="<%=oa_path%>you_are_right_where_you_should_be_sm.jpg">
            </a>

        </div>

        <%= partial "social" %>

    	<!-- <<<< INSERT GALLERY HERE -->  <!-- .doc -->
</div><!-- .welcome -->