---
title: Gallery Valentina
---

<div id="content">
  <h2>Original Artwork</h2>

   <%= partial "partials/gallery_nav" %>

    	<!-- >>>> INSERT GALLERY HERE -->

        <% gallery ="img/lightbox/gallery/" %>
        <% patt_title ="original_artwork" %>
        <% oa_path ="img/lightbox/gallery/original_artwork/" %>

	    <div id='gallery'>

            <a href="<%=oa_path%>aaron.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Aaron">
           <img src="<%=oa_path%>aaron_sm.jpg">
            </a>

            <a href="<%=oa_path%>alexis.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Alexis">
           <img src="<%=oa_path%>alexis_sm.jpg">
            </a>

            <a href="<%=oa_path%>arabella.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Arabella">
           <img src="<%=oa_path%>arabella_sm.jpg">
            </a>

            <a href="<%=oa_path%>azure_treasure.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Azure Treasure">
           <img src="<%=oa_path%>azure_treasure_sm.jpg">
            </a>

            <a href="<%=oa_path%>billy_01.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Billy">
           <img src="<%=oa_path%>billy_01_sm.jpg">
            </a>

            <a href="<%=oa_path%>born_to_fly.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Born to Fly">
           <img src="<%=oa_path%>born_to_fly_sm.jpg">
            </a>

            <a href="<%=oa_path%>bravebird.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Bravebird">
           <img src="<%=oa_path%>bravebird_sm.jpg">
            </a>

            <a href="<%=oa_path%>brown.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Brown">
           <img src="<%=oa_path%>brown_sm.jpg">
            </a>

            <a href="<%=oa_path%>buddha.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Buddha">
           <img src="<%=oa_path%>buddha_sm.jpg">
            </a>

            <a href="<%=oa_path%>coi.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Coi">
           <img src="<%=oa_path%>coi_sm.jpg">
            </a>

            <a href="<%=oa_path%>dakota.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Dakota">
           <img src="<%=oa_path%>dakota_sm.jpg">
            </a>

            <a href="<%=oa_path%>dreams_of_india_vr.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Dreams of India">
           <img src="<%=oa_path%>dreams_of_india_vr_sm.jpg">
            </a>

            <a href="<%=oa_path%>frog_in_the_log.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Frog in the Log">
           <img src="<%=oa_path%>frog_in_the_log_sm.jpg">
            </a>

            <a href="<%=oa_path%>gordita.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Gordita">
           <img src="<%=oa_path%>gordita_sm.jpg">
            </a>

            <a href="<%=oa_path%>green_detail01.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Green Detail">
           <img src="<%=oa_path%>green_detail01_sm.jpg">
            </a>

            <a href="<%=oa_path%>henry_the_horse.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Henry the Horse">
           <img src="<%=oa_path%>henry_the_horse_sm.jpg">
            </a>

            <a href="<%=oa_path%>liz.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Liz">
           <img src="<%=oa_path%>liz_sm.jpg">
            </a>

            <a href="<%=oa_path%>missy.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Missy">
           <img src="<%=oa_path%>missy_sm.jpg">
            </a>

            <a href="<%=oa_path%>mr_pop.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Mr Pop">
           <img src="<%=oa_path%>mr_pop_sm.jpg">
            </a>

            <a href="<%=oa_path%>mrwoody.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Mr Woody">
           <img src="<%=oa_path%>mrwoody_sm.jpg">
            </a>

            <a href="<%=oa_path%>randy.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Randy">
           <img src="<%=oa_path%>randy_sm.jpg">
            </a>

            <a href="<%=oa_path%>tarquin.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Tarquin">
           <img src="<%=oa_path%>tarquin_sm.jpg">
            </a>

            <a href="<%=oa_path%>the_van.jpg" rel="lightbox[<%=patt_title%>]"
                          title="The VW Van">
           <img src="<%=oa_path%>the_van_sm.jpg">
            </a>

            <a href="<%=oa_path%>why_hello_there_gorgeous.jpg" rel="lightbox[<%=patt_title%>]"
                          title="Why Hello there gorgeous">
           <img src="<%=oa_path%>why_hello_there_gorgeous_sm.jpg">
            </a>

        </div>

 <%= partial "partials/social" %>

    	<!-- <<<< INSERT GALLERY HERE -->  <!-- .doc -->
</div><!-- .welcome -->