---
title: Original Artwork
---

<div id="content">

   <%= partial "partials/gallery_nav" %>

    	<!-- >>>> INSERT GALLERY HERE -->

        <% patt_title ="patterns" %>
        <% patt_path ="img/lightbox/gallery/patterns/" %>

	    <div id='gallery'>

            <a href="<%=patt_path%>i_spy.jpg" rel="lightbox[<%=patt_title%>]"
                            title="I Spy">
           <img src="<%=patt_path%>i_spy_sm.jpg">
            </a>

            <a href="<%=patt_path%>birds_in_the_garden.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Birds In The Garden">
           <img src="<%=patt_path%>birds_in_the_garden_sm.jpg">
            </a>

            <a href="<%=patt_path%>birds-with-flowers.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Birds With Flowers">
           <img src="<%=patt_path%>birds-with-flowers_sm.jpg">
            </a>

            <a href="<%=patt_path%>butterflies.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Butterflies">
           <img src="<%=patt_path%>butterflies_sm.jpg">
            </a>

            <a href="<%=patt_path%>doodles_garden.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Doodles Garden">
           <img src="<%=patt_path%>doodles_garden_sm.jpg">
            </a>

            <a href="<%=patt_path%>folkbirds.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Folkbirds">
           <img src="<%=patt_path%>folkbirds_sm.jpg">
            </a>

            <a href="<%=patt_path%>marching_elephants.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Marching Elephants">
           <img src="<%=patt_path%>marching_elephants_sm.jpg">
            </a>

            <a href="<%=patt_path%>pods_and_flowers.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Pods And Flowers">
           <img src="<%=patt_path%>pods_and_flowers_sm.jpg">
            </a>

            <a href="<%=patt_path%>rachel.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Rachel">
           <img src="<%=patt_path%>rachel_sm.jpg">
            </a>

            <a href="<%=patt_path%>sofia.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Sofia">
           <img src="<%=patt_path%>sofia_sm.jpg">
            </a>

            <a href="<%=patt_path%>stella.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Stella">
           <img src="<%=patt_path%>stella_sm.jpg">
            </a>

            <a href="<%=patt_path%>07.jpg" rel="lightbox[<%=patt_title%>]"
                            title="07">
           <img src="<%=patt_path%>07_sm.jpg">
            </a>

            <a href="<%=patt_path%>amelia.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Amelia">
           <img src="<%=patt_path%>amelia_sm.jpg">
            </a>

            <a href="<%=patt_path%>baby_dino.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Baby Dino">
           <img src="<%=patt_path%>baby_dino_sm.jpg">
            </a>

            <a href="<%=patt_path%>be_my_valentine.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Be My Valentine">
           <img src="<%=patt_path%>be_my_valentine_sm.jpg">
            </a>

            <a href="<%=patt_path%>beatriz.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Beatriz">
           <img src="<%=patt_path%>beatriz_sm.jpg">
            </a>

            <a href="<%=patt_path%>birds_and_flowers.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Birds and Flowers">
           <img src="<%=patt_path%>birds_and_flowers_sm.jpg">
            </a>

            <a href="<%=patt_path%>blooming.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Blooming">
           <img src="<%=patt_path%>blooming_sm.jpg">
            </a>

            <a href="<%=patt_path%>boho_flowers.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Boho Flowers">
           <img src="<%=patt_path%>boho_flowers_sm.jpg">
            </a>

            <a href="<%=patt_path%>candy_flowers.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Candy Flowers">
           <img src="<%=patt_path%>candy_flowers_sm.jpg">
            </a>

            <a href="<%=patt_path%>cayenas.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Cayenas">
           <img src="<%=patt_path%>cayenas_sm.jpg">
            </a>

            <a href="<%=patt_path%>cute_little_owls.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Cute Little Owls">
           <img src="<%=patt_path%>cute_little_owls_sm.jpg">
            </a>

            <a href="<%=patt_path%>dahlias.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Dahlias">
           <img src="<%=patt_path%>dahlias_sm.jpg">
            </a>

            <a href="<%=patt_path%>doodles_black_and_yellow.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Doodles Black and Yellow">
           <img src="<%=patt_path%>doodles_black_and_yellow_sm.jpg">
            </a>

            <a href="<%=patt_path%>eli.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Eli">
           <img src="<%=patt_path%>eli_sm.jpg">
            </a>

            <a href="<%=patt_path%>ethnic_stripes.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Ethnic Stripes">
           <img src="<%=patt_path%>ethnic_stripes_sm.jpg">
            </a>

            <a href="<%=patt_path%>flowers_doodles.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Flowers Doodles">
           <img src="<%=patt_path%>flowers_doodles_sm.jpg">
            </a>

            <a href="<%=patt_path%>flowers_in_brown.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Flowers in Brown">
           <img src="<%=patt_path%>flowers_in_brown_sm.jpg">
            </a>

            <a href="<%=patt_path%>flowers_pattern.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Flowers Pattern">
           <img src="<%=patt_path%>flowers_pattern_sm.jpg">
            </a>

            <a href="<%=patt_path%>lets_cook.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Lets Cook">
           <img src="<%=patt_path%>lets_cook_sm.jpg">
            </a>

            <a href="<%=patt_path%>lila.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Lila">
           <img src="<%=patt_path%>lila_sm.jpg">
            </a>

            <a href="<%=patt_path%>little_birds.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Little Birds">
           <img src="<%=patt_path%>little_birds_sm.jpg">
            </a>

            <a href="<%=patt_path%>lovely_birds.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Lovely Birds">
           <img src="<%=patt_path%>lovely_birds_sm.jpg">
            </a>

            <a href="<%=patt_path%>marisa.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Marisa">
           <img src="<%=patt_path%>marisa_sm.jpg">
            </a>

            <a href="<%=patt_path%>orange_flowers.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Orange Flowers">
           <img src="<%=patt_path%>orange_flowers_sm.jpg">
            </a>

            <a href="<%=patt_path%>orange_grey_flowers.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Orange Grey Flowers">
           <img src="<%=patt_path%>orange_grey_flowers_sm.jpg">
            </a>

            <a href="<%=patt_path%>owls.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Owls">
           <img src="<%=patt_path%>owls_sm.jpg">
            </a>

            <a href="<%=patt_path%>pods.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Pods">
           <img src="<%=patt_path%>pods_sm.jpg">
            </a>

            <a href="<%=patt_path%>random_flowers.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Random Flowers">
           <img src="<%=patt_path%>random_flowers_sm.jpg">
            </a>

            <a href="<%=patt_path%>retro_coffee.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Retro Coffee">
           <img src="<%=patt_path%>retro_coffee_sm.jpg">
            </a>

            <a href="<%=patt_path%>retro.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Retro">
           <img src="<%=patt_path%>retro_sm.jpg">
            </a>

            <a href="<%=patt_path%>reverie.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Reverie">
           <img src="<%=patt_path%>reverie_sm.jpg">
            </a>

            <a href="<%=patt_path%>spring_paisley.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Spring Paisley">
           <img src="<%=patt_path%>spring_paisley_sm.jpg">
            </a>

            <a href="<%=patt_path%>under_the_sea.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Under the Sea">
           <img src="<%=patt_path%>under_the_sea_sm.jpg">
            </a>

            <a href="<%=patt_path%>valentines_birds.jpg" rel="lightbox[<%=patt_title%>]"
                            title="Valentines Birds">
           <img src="<%=patt_path%>valentines_birds_sm.jpg">
            </a>



        </div>

        <%= partial "partials/social" %>

    	<!-- <<<< INSERT GALLERY HERE -->  <!-- .doc -->
</div><!-- .welcome -->


